@font-face {
    font-family: Hel-Light;
    src: url(../font/helveticaneuecyr-light.otf);
}

body {
    margin: 0;
    font-family: Hel-Light;
    background-color: rgb(0, 121, 191);
}

form {
    padding-top: 100px;
    width: 90%;
    max-width: 295px;
    min-width: 100px;
    margin: 0 auto;
}

input {
    margin-top: 20px;
}

h1, h3 {
    color: white;
    margin-top: 100px;
    text-align: center;
}

h2 {
    color: white;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: white;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    border: solid 1px #C0C0C0;
    width: 100%;
    padding: 7px;
    font-size: 13pt;
    border-radius: 3px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background: rgb(82,93,145);
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    width: 100%;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(102,114,179);
    box-shadow: 0 -3px rgb(82,93,145) inset;
    transition: 0.2s;
}

.error_list {
    text-align: center;
    list-style-type: none;
}

.error_list li {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

table {
    margin: 0 auto;
}

.boxer {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
    width: 450px;
}

.boxer .box-row {
    display: table-row;
    color: #fff;
}

.boxer .box {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.column_name {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.header {
    text-align: center;
    background: #64B5F6;
    color: #fff;
    padding: 1em;
}

.user_info {
    margin: 50px auto;
    display: table;
}

.header li {
    display: inline;
    list-style: none;
    padding: 5px;
    border: solid 1px #000000;
    font-weight: 600;
    margin-right: 10px;
}

.navbar-default {
    background: #026aa7;
}

.navbar {
    border-radius: 0;
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
}


.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #026aa7;
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    text-align: initial;
    float: none;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.footer{
    overflow:auto;
    white-space:nowrap;
    text-align: center;
}
.col-sm-2{
    display:inline-block;
}